In [1]:
from import_data import importData

everything = importData()

/export/home/klay/python/datascience/import_data.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename,sep = ' *\| *');

In [3]:
everything.head()

  Object Name,RA,DEC,Velocity,Redshift,Magnitude and Filter
0  WISEA J000000.16-001108.6,0.000690000000000000...
1  WISEA J000000.40-102225.8,0.00172,-10.37381,61...
2  WISEA J000000.47-002704.3,0.00198,-0.45109,749...
3  WISEA J000000.53-075727.9,0.002039999999999999...
4  WISEA J000000.64+004157.8,0.002689999999999999...